body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    margin-bottom: 30px;
}

header, footer {
    background: #535d99;
    padding: 30px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;    
}

aside {    
    margin: 30px 30px 30px 10px;   
    border: 1px solid lightgray;
    padding: 20px;
    min-width: 200px;
    box-sizing: border-box;    
    align-self: flex-start;
}

section {
    flex-grow: 0;
}

footer {
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
}

form input:not([type="checkbox"]), button {
    display: block;
    margin-bottom: 20px;
}

.tooltip {
    position: absolute;
    background: black;
    color: #fff;
    padding: 10px;    
    right: -75px;
    top: 0;
    z-index: 10;
    border-radius: 5px;
}

.tooltip:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    left: -5px;
    top: 7px;
    background: #000;
    transform: rotate(45deg);
}

form > div {
    position: relative;
    max-width: 200px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input + p {
    color: red;
}

button {
    margin-top: 20px;
    pointer-events: none;
    opacity: .5;
}

[type="checkbox"]:checked + label + button {
    opacity: 1;
    pointer-events: all;
}